body {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 80px;
      height: 80px;
      border-right: 2px solid white;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.header {
  background-color: rgb(4, 185, 31);
  position: absolute;
  top: 0;
  height: 80px;
  width: 80px;
  border-bottom-right-radius: 80px;
}

.footer {
  background-color: rgb(219, 136, 19);
  position: sticky;
  left: 100%;
  height: 80px;
  width: 80px;
  border-top-left-radius: 80px;
}

.span {
  color: rgb(4, 185, 31);
}